body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;


}
.container{
    background-color: whitesmoke;
    margin-top: 70px;
        height:600px;
        width:800px;
        display: flex;
        position: relative;
        border:3px solid black;
        border-radius: 40px;


}

img{
width:200px;
height:200px;  
margin-top:40px;
margin-left: 50px;

}   
.btn{
    background-color: rgb(114, 182, 84);
    width: 150px;
    height:50px;
    border:4px solid rgb(12, 11, 11);
    border-radius: 10px;
    border-style: grovee;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom:20px;
    right: 30px;

} 
.btn1{
    background-color: rgb(114, 182, 84);
    width: 150px;
    height:50px;
    border:4px solid rgb(12, 11, 11);
    border-radius: 10px;
    border-style: ridge;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom:20px;
    right: 600px;

} 
